.login-container {
  background: url("../../../assets/FotoTrabajo.avif") no-repeat center center
    blur(10px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.backGround {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/FotoTrabajo.avif") no-repeat center center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.login-form {
  background: rgb(180, 202, 200, 0.9);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 30vh;
  width: 20%;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  background: rgb(180, 202, 200);
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(108, 179, 223);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
