.background-image {
  background-image: url("../../../assets/background-image-homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7em;
}
